$('#task_modal_new').modal('hide');
var tr = '<tr><td><%= @task.title %></td><td><%= @task.description %></td><td><%= @task.deadline %></td><td><%= @task.priority %></td><td><td><%= link_to "Show", project_task_path(project_id: @project.id, id: @task.id), remote: true %></td><td><%= link_to "Edit", edit_project_task_path(project_id: @project.id, id: @task.id), remote: true %></td><td><%= link_to "Destroy", project_task_path(project_id: @project, id: @task.id), method: :delete, data: { confirm: "Are you sure?" } %></td></td></tr>'
$('.tasks tbody').append(tr);