<div class="field">
  <%= form.label :title %>
  <%= form.text_field :title %>
</div>
<%= print_error(@project.errors, :title) %>

<div class="field">
  <%= form.label :description %>
  <%= form.text_field :description %>
</div>

<div class="actions">
  <%= form.submit %>
</div>
